body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Anek Odia", sans-serif;
  background: #222;
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
}
small {
  color: #dadde1;
  margin: 0 auto;
  text-align: center;
  display: block;
  margin-bottom: 0;
  font-size: 12px;
}
form {
  margin: auto;
}
.city-name {
  font-weight: bold;
}
.first {
  margin: 1rem 0;
  color: #ffffff;
  border: 0;
  border-top: 1px solid;
  opacity: 0.2;
  margin-top: 0;
}
.second {
  margin: 1rem 0;
  color: #ffffff;
  border: 0;
  border-top: 1px solid;
  opacity: 0.2;
  margin-top: 0;
  margin-bottom: 3px;
}
ul {
  list-style: none;

  justify-content: center;
}

.currentDate {
  color: #ffffff;
  font-size: 20px;
}
.currentTime {
  color: #ffffff;
  font-size: 20px;
  position: relative;
  right: -110px;
}
.description {
  font-size: 20px;
}
.weather {
  padding: 0 auto;
  padding-left: 0px;
  font-size: 15px;
}
.unit {
  position: relative;
  top: -10px;
  font-size: 15px;
}
.col-1 {
  margin: 12px;
}
.row {
  color: #fff;
  padding: 0;
  padding-left: 0px;
  display: flex;
}
.app {
  background: #000000d0;
  color: white;
  padding: 32px;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: auto;
  align-items: center;
  display: block;
  opacity: 0.9;
  padding-bottom: 0px;
}
#icon {
  color: #ffffff;
  font-size: 30px;
}
.place {
  text-align: center;
  color: #ffffff;
  font-size: larger;
  text-transform: capitalize;
}

.search-box {
  padding-left: 34px;
}
.search-input {
  border-radius: 8px;
  background-attachment: fixed;
  opacity: 0.6;
}
.button {
  border-radius: 8px;
  opacity: 0.6;
  text-align: center;
}
.button:hover {
  color: white;
  background-color: #222;
}

#icon-desc {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 4px;
}
.temperature {
  color: #ffffff;
  font-size: 20px;
  position: relative;
  right: -110px;
}
.units {
  position: relative;
  top: -34px;
}
.active {
  color: white;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
}
